@using SuggestionAppUI.Models
@inherits LayoutComponentBase
@inject NavigationManager navManager
@inject ProtectedSessionStorage BrowserStorage
@inject ILoggedInUser loggedInUser
@using Newtonsoft.Json;

<PageTitle>SuggestionAppUI</PageTitle>

<div class="page">
    

    <main class="container-xxl">
        <div class="px-5 pt-3 navLinks">
            <a id="homePageRedirect" class="loginLink" @onclick="(() => OpenIndex())">Home</a>

            @if (!loggedInUser.IsLoggedIn)
            {
                <a id="signIn" class="loginLink" @onclick="(() => OpenLogin())">SignIn</a>
                <a id="createAccount" class="loginLink" @onclick="(() => OpenCreateAccount())">Create Account</a>
            }
            else
            {
                <a id="profile" class="loginLink" @onclick="(() => OpenProfile())">Profile</a>
                <a id="signOut" class="loginLink" @onclick="(() => SignOut())">Sign Out</a>
            }

            @if (loggedInUser.isAdmin)
            {
                <a id="adminApproval" class="loginLink" @onclick="(() => OpenAdminApproval())">Admin Approval</a>
            }
        </div>
        

        <article class="content pt-1">
                @Body
        </article>    
    </main>
</div>

@code{
    private string sessionStorageName = "loggedInUser";

    private void OpenLogin()
    {
        navManager.NavigateTo($"/LogIn");
    }

    private void OpenCreateAccount()
    {
        navManager.NavigateTo($"/CreateUser");
    }

    private void OpenIndex()
    {
        navManager.NavigateTo($"/");
    }

    private void OpenProfile()
    {
        navManager.NavigateTo("/Profile");
    }

    private void SignOut()
    {
        loggedInUser.Clear();
        StateHasChanged();
    }

    private void OpenAdminApproval()
    {
        navManager.NavigateTo("/AdminApproval");
    }
}